[Desktop Entry]
Name=Elive News
Comment=Shows unobtrusively last Elive news
Icon=logo-elive
Exec=elive-news --delayed
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
