[Desktop Entry]
Name=Elive News
Name[az]=Elive News
Name[bg]=Elive News
Name[bn]=এলভ নিউজ
Name[ca]=Notícies Eliveses
Name[cs]=Elive News
Name[da]=Elive News
Name[de]=Elive Nachrichten
Name[el]=Elive News
Name[eo]=Elive Novaĵoj
Name[es]=Noticias Elive
Name[et]=Elive Uudised
Name[fi]=Elive News
Name[fr]=Nouvelles d'Elive
Name[hi]=एलिव न्यूज़
Name[hr]=Elive News
Name[hu]=Elive News
Name[id]=Berita Elive
Name[it]=Notizie Elive
Name[ja]=エリブニュース
Name[ko]=엘레 이브 뉴스
Name[lt]=Elive naujienos
Name[lv]=Elive Ziņas
Name[ms]=Elive News
Name[nb]=Elive News
Name[nl]=Elive News
Name[no]=Elive News
Name[pl]=Elive News
Name[pt]=Notícias de Elive
Name[ro]=Elive News
Name[sk]=Elive News
Name[sl]=Elive News
Name[sr]=Еливе Невс
Name[sv]=Elive News
Name[te]=ఎలివ్ న్యూస్
Name[tl]=Elive News
Name[tr]=Elive News
Name[uk]=Еліве Новини
Name[vi]=Tin tức Elive
Comment=Shows unobtrusively last Elive news
Comment[az]=Elive xəbərlərini gözləmədən sona çatdırır
Comment[bg]=Показва ненатрапчиво последните новини от Elive
Comment[bn]=অবিচ্ছিন্নভাবে শেষ Elive খবর দেখায়
Comment[cs]=Nervózně zobrazuje poslední zprávy společnosti Elive
Comment[da]=Viser ubemærket sidste Elive nyheder
Comment[de]=Zeigt unauffällig die letzten Nachrichten von Elive
Comment[el]=Δείχνει διακριτικά τα τελευταία νέα του Elive
Comment[eo]=Ĵetas lastatempe lastatempe Elive-novaĵoj
Comment[es]=Muestra discretamente las últimas noticias de Elive
Comment[et]=Näitab Eruti uudiseid
Comment[fi]=Näyttää huomaamattomasti viimeiset Elive-uutiset
Comment[fr]=Affiche discrètement les dernières nouvelles d'Elive
Comment[hi]=निर्विवाद रूप से पिछले Elive समाचार दिखाता है
Comment[hr]=Neodoljivo pokazuje posljednje vijesti Elive
Comment[hu]=Érzéketlenül mutatja az Elive híreket
Comment[id]=Menunjukkan berita Elive yang tidak diam-diam
Comment[it]=Mostra in modo discreto le ultime notizie di Elive
Comment[ja]=控えめに最後のEliveのニュースを表示
Comment[ko]=겸손하게 마지막 Elive 뉴스를 보여줍니다.
Comment[lt]=Parodo netikėtai paskutinę Elive naujieną
Comment[lv]=Parāda neuzkrītoši pēdējās Elive ziņas
Comment[ms]=Menunjukkan berita Elive yang tidak disengajakan yang terakhir
Comment[nb]=Viser diskret sist Elive nyheter
Comment[nl]=Toont onopvallend laatste Elive-nieuws
Comment[no]=Viser diskret sist Elive nyheter
Comment[pl]=Pokazuje dyskretnie ostatnie wiadomości od Elive
Comment[pt]=Mostra discretamente a última novidade de Elive
Comment[ro]=Afișează ultima știri Elive neobișnuit
Comment[sk]=Zobrazuje nenápadne posledné správy spoločnosti Elive
Comment[sl]=Prikazuje nevsiljivo zadnji Elive novice
Comment[sr]=Показује невсиљиво вести Еливе вести
Comment[sv]=Visar diskret senast Elive nyheter
Comment[te]=నిస్సందేహంగా గత ఎలివ్ వార్తలను చూపిస్తుంది
Comment[tl]=Nagpapakita ng mahinang huling balita ng Elive
Comment[tr]=Elif haberi göze batmadan geçti
Comment[uk]=Показує неперевершені останні новини Еліве
Comment[vi]=Hiển thị bài báo Elive
Icon=logo-elive
Exec=elive-news --delayed
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
